@charset "UTF-8";

:root{
}

*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* mất dấu mũi tên */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


html{
    font-size: 62.5%;
    font-family: 'Calibri', sans-serif !important;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}

.title{
    font-size: 3rem;
    font-weight: 600;
    margin: 0 1rem;
    line-height: 2;
}

.title_s{
    font-size: 2rem;
    font-weight: 500;
    margin: 0 1rem;
    line-height: 2;
}

.container_s {
    max-width: 50rem;
    min-width: 50rem;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.justify_content_sb{
    display: flex;
    justify-content: space-between;
}

.justify_content_sa{
    display: flex;
    justify-content: space-around;
}

.justify_content_e{
    display: flex;
    justify-content: end;
}

.al-c{
    text-align: center;
}

.al-e{
    text-align: end !important;
}

.ml{
    display: flex;
    margin-left: auto;
}

.text{
    font-size: 1.5rem !important;
    font-weight: 500;
}

.scroll_y{
    max-height: 30rem;
    overflow-y: scroll !important;
}
