@charset "UTF-8";

:root{
    --btnGreen: ;
    color: gr;
}

*{
    /* box-sizing: ; */
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
    font-family: 'Calibri', sans-serif !important;
}

body {
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}