<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
    <title>Customer Stat</title>
</head>
<body>
	<div class="container">
        <h1 class="title">Customer Stat</h1>
        <form action="" method="post" class="justify_content_sb mb-3">
            <div class="form-group">
                <label for="startday">Ngày bắt đầu:</label>
                <input type="date" id="startday" name="ngaybatdau" value="Ngày bắt đầu">
            </div>
            <div class="form-group">
                <label for="endday">Ngày kết thúc:</label>
                <input type="date" id="endday" name="ngayketthuc" value="Ngày kết thúc">
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary text mr-5">Kiểm tra</button>
                <button type="button" class="btn btn-danger text">Quay lại</button>
            </div>
        </form>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã KH</th>
                    <th scope="col">Tên KH</th>
                    <th scope="col">SĐT</th>
                    <th scope="col">Email</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Tổng tiền đã mua</th>
                    <th scope="col">Số lần mua</th>
                    <th scope="col">Số lượng đã mua</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Snack</td>
                    <td>ăn vặt</td>
                    <td>250gr</td>
                    <td>Ngon</td>
                    <td>5000vnđ</td>
                    <td>50 gói</td>
                    <td>AV1</td>
                    <td>01/05/2023</td>
                    <td>
                        <button type="submit" class="btn btn-primary text">Xem</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Snack</td>
                    <td>ăn vặt</td>
                    <td>250gr</td>
                    <td>Ngon</td>
                    <td>5000vnđ</td>
                    <td>50 gói</td>
                    <td>AV1</td>
                    <td>01/05/2023</td>
                    <td>
                        <button type="submit" class="btn btn-primary text">Xem</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>