<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}">
    <title>Customer detail</title>
</head>
<body>
    <div class="container mb-5">
        <h1 class="al-c title">Customer detail</h1>
        <table class="table">
            <tbody>
                <tr>
                    <td>Mã:</td>
                    <td><input type="text" id="id" name="id" th:value="${session.customerStat.id}" disabled="disabled"></td>
                    <td>Tên:</td>
                    <td><input type="text" id="name" name="name" th:value="${session.customerStat.name}" disabled="disabled"></td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td><input type="text" id="phoneNumber" name="phoneNumber" th:value="${session.customerStat.phoneNumber}" disabled="disabled"></td>
                    <td>Email:</td>
                    <td><input type="email" id="email" name="email" th:value="${session.customerStat.email}" disabled="disabled"></td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td><input type="text" id="address" name="address" th:value="${session.customerStat.address}" disabled="disabled"></input></td>
                    <td>Tổng tiền hàng:</td>
                    <td><input type="number" id="totalAmountOfPurchased" name="totalAmountOfPurchased" th:value="${session.customerStat.totalAmountOfPurchased}" disabled="disabled"></td>
                </tr>
                <tr>
                    <td>Tổng số mặt hàng:</td>
                    <td><input type="number" id="totalNumberProducts" name="totalNumberProducts" th:value="${session.customerStat.totalNumberProducts}" disabled="disabled"></td>
                    <td>Số lần mua hàng:</td>
                    <td><input type="number" id="totalNumberPurchased" name="totalNumberPurchased" th:value="${session.customerStat.totalNumberPurchased}" disabled="disabled"></td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã HĐ</th>
                    <th scope="col">Mã TN</th>
                    <th scope="col">Ngày thanh toán</th>
                    <th scope="col">Phương thức thanh toán</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bill, iterBill : ${session.bills}">
                    <th scope="row" th:text="${iterBill.index + 1}"></th>
                    <td th:text="${bill.id}"></td>
                    <td th:text="${bill.cashier.id}"></td>
                    <td th:text="${bill.paymentDate}"></td>
                    <td th:text="${bill.paymentMethod}"></td>
                    <td th:text="${bill.total}"></td>
                    <td>
                        <a th:href="@{/supermarket/member/stat/customer/bill/{id}(id = ${bill.id})}" type="submit" class="btn btn-primary text">Xem</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row justify_content_e">
            <button type="button" th:onclick="window.history.back()" class="btn btn-danger text">Quay lại</button>
        </div>
    </div>
</body>

</html>